@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";

/*************************************************************
* HTML and body style
**************************************************************/
html, body {
    height: 100%;
    background-image: url(bg-sessions.png);

}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #3e4855;
    background-color: #fff;
    line-height: 1.42857143;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 5px;
}

.logo-sessions {
  height: 100%;
  border-right: 10px solid rgba(102,102,102,1);

}
.os-logo {  
  padding-right: 2%;
  width: 100%;
  height:25%;
}

.utfpr-logo {
  height: 32%;
  width: 30%;
  border-radius: 50%;
  left: 30%;
  position: relative;
}

.logos {
  
  margin-top: 50%;

}

/*************************************************************
* Vertical and horizontal align
**************************************************************/

.container {
  height: 100%;
}

.vertical-centering {

  position: relative;
  top: 50%;
  -webkit-transform: translateY(-55%);
  transform: translateY(-55%);
}


